/* CSS Document */

a { 
 outline:none 
}
/* RESET Do not change */
*, html, div, dl, dt, dd, ul, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
ul {list-style: none;}
fieldset, img { border:0 }

h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
a { outline:none } /* Gets rid of Firefox's dotted borders */
a img { border:none } /* Gets rid of IE's blue borders */
/*End RESET */


html {min-height:100%;height:auto;height:100%;}
body {font-family: 'Crimson Text', serif;font-size: 13px;line-height:15px;background-color:#ffffff;color:#685432;margin-left:auto;margin-right:auto;margin-top:50px;min-height:100%;height:auto;height:100%;}
.logo {width:259px;height:101px;float:left;background: url(images/bistro.png);margin-right:130px;margin-left:50px;}
#logolink{display:inline-block;width:259px;height:101px;}
.nav {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;padding-top:76px;float:left;z-index:2;position:relative;}
.footerwrapper {width:1240px;margin-left:auto;margin-right:auto;}
.footer {font-family: 'Libre Baskerville', serif;width:1000px;padding-top:15px;z-index:100;position:relative;margin-left:50px;}
.footerleft {font-style:italic;font-size: 10px;float:left;line-height:20px;width:631px;margin-right:50px;}
.footeritalic {color:#685432;font-family: 'Libre Baskerville', serif;font-style:italic;font-size: 10px;text-transform: none;letter-spacing: normal;}
.footerright {font-family: 'Montserrat';font-size:7px;float:left;line-height:11px;text-transform: uppercase;color:#A06E2B;width:251px;letter-spacing:1px;text-align:right;margin-top:4px;}
.middle {margin-left:auto;margin-right:auto;}
.content {width:259px;margin-top:70px;color:#685432;float:left;position:relative;margin-right:40px;margin-left:50px;min-height:250px;padding-bottom:140px;}
.dishes {float:left;width:858px;height:528px;position:fixed;z-index:10;margin-left:370px;margin-top:20px;}
.photos {float:left;width:858px;height:528px;position:fixed;z-index:10;margin-left:370px;margin-top:40px;}
.wineglasses {float:left;width:652px;height:700px;position:fixed;z-index:10;margin-left:370px;}
.winedinnerimage {float:left;width:858px;height:700px;position:fixed;z-index:1;margin-left:370px;margin-top:-80px;}
.subnav {width:259px;font-family: 'Montserrat';font-size:7px;text-transform: uppercase;color:#A06E2B;letter-spacing:1px;}

.content,.subnav{/*new widths?	width:306px;*/}

.active {color:#685432;font-weight:700;font-style:normal;}

p {margin-bottom:15px;}

#menu {font-family: 'Libre Baskerville', serif;font-style:italic;font-size:11px;}
#winedinners {font-family: 'Libre Baskerville', serif;font-style:italic;font-size:11px;}
#wines {font-family: 'Libre Baskerville', serif;font-style:italic;font-size:11px;}


.wrapper {
	position:relative;
	width:1240px;
	margin-left:auto;
	margin-right:auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
}
.footerbackground {
	background-color:#E2DEDC;
	min-width:1240px;
	width:100%;
	height: 150px; /* .push must be the same height as .footer */
	z-index:100;
	bottom:0;
	position:relative;

}

.fb-like{
    filter: alpha(opacity=77);
    -moz-opacity: 0.77;
    -khtml-opacity: 0.77;
    opacity: 0.77;
    margin-top:6px;
}
.fb-like:hover{
	filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
hr {border-top:1px #C4AE97 solid;border-right:none;border-left:none;border-bottom:none;margin:40px 0 40px 0;}
hr.nosubnav {border-top:1px #C4AE97 solid;border-right:none;border-left:none;border-bottom:none;margin:0 0 40px 0;}


.clear {clear:both;}
.gold {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;}
.smalltype {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#685432;font-weight:400;text-transform:uppercase;font-style: normal;}
.noitalics {font-family: 'Crimson Text', serif;font-size: 13px;font-style:normal;}

h1 {font-family: 'Libre Baskerville', serif;font-size:16px;font-style:italic;line-height:1.2;color:#685432;font-weight:normal;margin-bottom: 15px;}
h2 {font-family:'Libre Baskerville';text-transform: uppercase;font-size:9px;letter-spacing: 1px;font-style:normal;}
h3 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;}
h4 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#685432;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:15px;}

#winedinners h3 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:15px;}
#winedinners h4 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#685432;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:0px;}
#winedinners h5 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#685432;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:15px;}

#wines h3 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:35px;}
#menu h3 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:35px;}


a {text-decoration: none;color:#685432;font-style: normal;}
a:hover {color:#A58A16}

.nav a {font-family: 'Montserrat';color:#A06E2B;text-decoration: none;font-style: normal;margin-right:40px;}
.nav a:hover{color:#BC9D1B;font-weight:400;}


.footer a {font-family: 'Montserrat';color:#A06E2B;text-decoration: none;font-style: normal;}
.footer a:hover{color:#BC9D1B;font-weight:400;}

.subnav a {font-family: 'Montserrat';color:#A06E2B;text-decoration: none;font-style: normal;}
.subnav a:hover{color:#BC9D1B;font-weight:400;}



ul li {margin-top:8px;}
ul {line-height:11px;}


	
/*Contact Form*/
input, textarea {
	padding: 4px;
	height: 12px;
	margin: 2px 0px 15px 0px;
	border: none;

}
