/* CSS Document */

a { 
 outline:none 
}
/* RESET Do not change */
*, html, div, dl, dt, dd, ul, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
ul {list-style: none;}
fieldset, img { border:0 }

h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
a { outline:none } /* Gets rid of Firefox's dotted borders */
a img { border:none } /* Gets rid of IE's blue borders */
/*End RESET */



body {font-family: 'Libre Baskerville', serif;font-size: 10px;background-color:#ffffff;color:#685432;margin-left:auto;margin-right:auto;margin-top:50px;}
.wrapper {position:relative;width:1240px;margin-left:auto;margin-right:auto;padding-bottom:100px;}
.logo {width:259px;height:121px;float:left;background: url(images/bistro.png);margin-right:130px;margin-left:50px;position:fixed;z-index:100;}
#logolink{display:inline-block;width:259px;height:101px;}
.nav {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;padding-top:75px;float:left;position:fixed;margin-left:438px;width:560px;}
.footerbackground{background-color:#E2DEDC;width:100%;z-index:100;}
.footerwrapper {width:1240px;margin-left:auto;margin-right:auto;}
.footer {width:1000px;padding-top:20px;z-index:100;position:relative;margin-left:50px;}
.footeritalic {color:#685432;font-family: 'Libre Baskerville', serif;font-style:italic;font-size: 10px;text-transform: none;letter-spacing: normal;}
.footerleft {font-style:italic;font-size: 10px;float:left;line-height:20px;width:631px;margin-right:50px;}
.footerright {font-family: 'Montserrat';font-size:7px;float:left;line-height:11px;text-transform: uppercase;color:#A06E2B;width:251px;letter-spacing:1px;text-align:right;margin-top:4px;}
.middle {margin-left:auto;margin-right:auto;}
.content {width:259px;margin-top:150px;color:#685432;float:left;position:relative;margin-right:40px;margin-left:50px;}
.dishes {width:858px;height:528px;z-index:0;position:fixed;margin-left:370px;margin-top:130px;}
.subnav {width:259px;font-family: 'Montserrat';font-size:7px;text-transform: uppercase;color:#A06E2B;letter-spacing:1px;}

.active {color:#685432;font-weight:700;font-style:normal;}
.leftcolumn {width:290px;height:475px;margin-bottom:90px;float:left;}
.leftcolumnlarge {width:734px;height:475px;margin-bottom:90px;float:left;}
.middlecolumn {margin-bottom:90px;float:left;width:300px;padding:50px 71px 45px 71px;text-align:center;float: left;border-right: 1px solid #919296;min-height:380px;}
.rightcolumn {width:185px;padding:60px 0 70px 70px;float:left;text-align:center;min-height:325px;}
.rightcolumnshows {width:185px;padding:60px 0 70px 70px;float:left;text-align:center;min-height:345px;border-left: 1px solid #919296;}
.divider {margin-top:30px; margin-bottom: 30px;}
p {margin-bottom:15px;}

#menu {font-style:italic;font-size:11px;}
#winedinners {font-style:italic;font-size:11px;}

html, body {height: 100%;}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}
.footerbackground, .push {
	height: 120px; /* .push must be the same height as .footer */
	position:fixed;
	z-index:0;
	bottom:-20px;

}

hr {border-top:1px #C4AE97 solid;border-right:none;border-left:none;border-bottom:none;margin:40px 0 40px 0;}
hr.nosubnav {border-top:1px #C4AE97 solid;border-right:none;border-left:none;border-bottom:none;margin:0 0 40px 0;}


.clear {clear:both;}
.gold {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;}
.smalltype {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#685432;font-weight:400;text-transform:uppercase;font-style: normal;}


h1 {font-family: 'Libre Baskerville', serif;font-size:16px;font-style:italic;color:#685432;font-weight:normal;margin-bottom: 15px;}
h2 {font-family:'Libre Baskerville';text-transform: uppercase;font-size:9px;letter-spacing: 1px;}
h3 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;}
h4 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#685432;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:15px;}

#winedinners h3 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#A06E2B;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:15px;}
#winedinners h4 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#685432;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:0px;}
#winedinners h5 {font-family: 'Montserrat';font-size:9px;letter-spacing:1px;color:#685432;font-weight:400;text-transform:uppercase;font-style: normal;margin-top:15px;}

.nav a {font-family: 'Montserrat';color:#A06E2B;text-decoration: none;font-style: normal;}
.nav a:hover{color:#BC9D1B;font-weight:400;}


.footer a {font-family: 'Montserrat';color:#A06E2B;text-decoration: none;font-style: normal;}
.footer a:hover{color:#BC9D1B;font-weight:400;}

.subnav a {font-family: 'Montserrat';color:#A06E2B;text-decoration: none;font-style: normal;}
.subnav a:hover{color:#BC9D1B;font-weight:400;}



ul li {margin-top:8px;}
ul {line-height:11px;}


.arrowcustom {
	width: 50px;
	height: 13px;
	position:absolute;z-index:1000;margin-top:224px;margin-left:339px;
}

.arrowcustom ul {
	}

.arrowcustom ul li {
	display:inline;
	}
	
.arrowcustom ul li a {
	display: block; 
	cursor: pointer;
	position: relative;
	float:left;
	}
	
.arrowcustom li a span {
	display: none;
	}



.arrowhome {
	width: 50px;
	height: 13px;
	position:absolute;z-index:1000;margin-top:224px;margin-left:492px;
}

.arrowhome ul {
	}

.arrowhome ul li {
	display:inline;
	}
	
.arrowhome ul li a {
	display: block; 
	cursor: pointer;
	position: relative;
	float:left;
	}
	
.arrowhome li a span {
	display: none;
	}

.arrowrighthome {
	width: 16px;
	height: 13px;
}

.arrowrighthome a {
	width: 16px;
	height: 13px;
	background: url(images/rightarrow.png) no-repeat 0 0;
	margin-left:8px;
	}
	
.arrowrighthome a:hover {
	background-position: 0 -13px;
	}


.arrow {
	width: 50px;
	height: 13px;
	position:absolute;z-index:1000;top:224px;left:484px;
}


	
.arrow ul {
	}

.arrow ul li {
	display:inline;
	}
	
.arrow ul li a {
	display: block; 
	cursor: pointer;
	position: relative;
	float:left;
	}
	
.arrow li a span {
	display: none;
	}

.arrowright {
	width: 16px;
	height: 13px;
}

.arrowright a {
	width: 16px;
	height: 13px;
	background: url(images/rightarrow.png) no-repeat 0 0;
	margin-left:8px;
	}
	
.arrowright a:hover {
	background-position: 0 -13px;
	}	

.arrowleft {
	width: 16px;
	height: 13px;
}

.arrowleft a {
	width: 16px;
	height: 13px;
	background: url(images/leftarrow.png) no-repeat 0 0;
	}
	
.arrowleft a:hover {
	background-position: 0 -13px;
	}	




.photonav {
	width: 290px;
	position:relative;
	float:left;
	margin:0;
}
	
.photonav ul {
	}

.photonav ul li {
	display:inline;
	}
	
.photonav ul li a {
	display: block; 
	cursor: pointer;
	float:left;
	}
	
.photonav li a span {
	display: none;
	}

.photonavcircles a {
	width: 143px;
	height: 158px;
	background: url(images/circles.jpg) no-repeat 0 0;
	}
	
.photonavriverrocks a {
	width: 143px;
	height: 158px;
	background: url(images/riverrocks.jpg) no-repeat 0 0;
	}
	
.photonavstones a {
	width: 143px;
	height: 159px;
	background: url(images/stones.jpg) no-repeat 0 0;
	}
	
.photonavasymmetry a {
	width: 143px;
	height: 159px;
	background: url(images/asymmetry.jpg) no-repeat 0 0;
	}
	
.photonavembellishment a {
	width: 143px;
	height: 158px;
	background: url(images/embellishment.jpg) no-repeat 0 0;
	}
	
.photonavroughcut a {
	width: 143px;
	height: 158px;
	background: url(images/roughcut.jpg) no-repeat 0 0;
	}

.photonav a:hover {
	background-position: 0 -158px;
	}	
	
.photonavstones a:hover {
	background-position: 0 -159px;
	}	
	
.photonavasymmetry a:hover {
	background-position: 0 -159px;
	}	
	
	
	

	
/*Contact Form*/
input, textarea {
	padding: 4px;
	width: 130px;
	height: 12px;
	font-family: courier;
	color: #6a665a;
	font-size: 10px;
	margin: 2px 0px 15px 0px;
	border: none;
	background-color: #d4c398;
}

input.contact, textarea {
	padding: 4px;
	width: 130px;
	height: 12px;
	font-family: courier;
	color: #6a665a;
	font-size: 10px;
	margin: 2px 0px 15px 0px;
	border: none;
	background-color: #d4c398;
}

textarea {
	width: 210px;
	height: 60px;
	padding: 4px;
	background-color: #d4c398;
	margin-bottom: 0px;
}



textarea:focusinput:focus {
	border: none;
	padding: 4px;
}

input.submit-button {
	width: 59px;
	height: 11px;
	margin-top: 75px;
	float: left;
	background: url(images/send.png) no-repeat;
	outline: none;
}

.button {
	float: left;
	width: 59px;
	height: 11px;
	margin-left:80px;
	}

label {
	text-align: left;
	width: 130px;
	padding-top: 0px;
	font-size: 10px;
}

.formleft {
	float: left;
	width: 130px;
	margin-right: 25px;
}

.formright {
	float: left;
	width: 100px;
}




@font-face {
    font-family: 'CrimsonRoman';
    src: url('Crimson-Roman-webfont.eot');
    src: url('Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('Crimson-Roman-webfont.woff') format('woff'),
         url('Crimson-Roman-webfont.ttf') format('truetype'),
         url('Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CrimsonBold';
    src: url('Crimson-Bold-webfont.eot');
    src: url('Crimson-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Crimson-Bold-webfont.woff') format('woff'),
         url('Crimson-Bold-webfont.ttf') format('truetype'),
         url('Crimson-Bold-webfont.svg#CrimsonBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CrimsonBoldItalic';
    src: url('Crimson-BoldItalic-webfont.eot');
    src: url('Crimson-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Crimson-BoldItalic-webfont.woff') format('woff'),
         url('Crimson-BoldItalic-webfont.ttf') format('truetype'),
         url('Crimson-BoldItalic-webfont.svg#CrimsonBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CrimsonItalic';
    src: url('Crimson-Italic-webfont.eot');
    src: url('Crimson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Crimson-Italic-webfont.woff') format('woff'),
         url('Crimson-Italic-webfont.ttf') format('truetype'),
         url('Crimson-Italic-webfont.svg#CrimsonItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CrimsonSemibold';
    src: url('Crimson-Semibold-webfont.eot');
    src: url('Crimson-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Crimson-Semibold-webfont.woff') format('woff'),
         url('Crimson-Semibold-webfont.ttf') format('truetype'),
         url('Crimson-Semibold-webfont.svg#CrimsonSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CrimsonSemiboldItalic';
    src: url('Crimson-SemiboldItalic-webfont.eot');
    src: url('Crimson-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Crimson-SemiboldItalic-webfont.woff') format('woff'),
         url('Crimson-SemiboldItalic-webfont.ttf') format('truetype'),
         url('Crimson-SemiboldItalic-webfont.svg#CrimsonSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




